body {
    background-color: #202124;
    margin-bottom: 100px;
}

.top-bar {
    background-color: #202124;
}

.sign_in_btn {
    padding: 10px 12px;
    margin: 14px 18px 12px -20px;
    min-width: 85px;
}

.nav-right-items {
    padding: 10px 12px;
    margin-top: 14px;
}

.more {
    width: 40px;
    height: auto;
    margin-top: 2px;
    margin-left: -10px;
}

.pfp {
    width: 60px;
    height: auto;
    margin-top: 25px;
    margin-left: -15px;
    border-radius: 40px;
}

.pfpInside {
    width: 100px;
    height: auto;
    margin-top: 25px;
    margin-left: 175px;
    border-radius: 40px;
}

.dropdown-menu2 h3 {
    margin-top: 10px;
    text-align: center;
}

.logo {
    margin-top: 10px;
    width: 150px;
    height: auto;
}

/* For the More Button */

input[type="checkbox"] { /* Keeps the checkbox hidden*/
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    margin-top: 14px;
    margin-left: -100px;
    margin-right: 10px;
    right: -40px;
    border-radius: 20px;
}

input[type="checkbox"]:checked + label + .dropdown-menu { /* Show dropdown on click*/
    display: block;
}

/* For the Profile Button */

.dropdown-menu2 {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    margin-top: 14px;
    border-radius: 20px;
    right: 10px;
    width: 500px;
    height: 350px;
}

input[type="checkbox"]:checked + label + .dropdown-menu2 { /* Show dropdown on click*/
    display: block;
}

.top {
    margin-top: 50px;
}

.bottom {
    margin-bottom: 50px;
}

.custom-select:hover,
.custom-select:focus {
    background-color: #3c4042; 
    outline: none; 
}

form.callout {
    background-color: #2c2f33;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
  
form label {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
  
.custom-select {
    width: 200px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #202124;
    color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    appearance: none;
}
  
.custom-select option {
    background-color: #3c4042;
}
  
button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
}
  
button.primary {
    background-color: #ffcc00;
    color: #202124;
}
  
button.primary:hover {
    background-color: #ffaa00;
}