<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/calData.css')}}"/>
    <title>Calendar</title>
</head>
<body>

  <nav class="navbar">
    <div class="top-bar">
      <div class="top-bar-left">
        <a href="{{url_for('dashboard')}}">
          <img src="https://res.cloudinary.com/dd8qeiddj/image/upload/f_auto,q_auto/y9vv9llgqhhmhp21yl7m" alt="logo" class="logo">
        </a>
      </div>

      <div class="top-bar-right">
        <ul class="menu align-right margin-top-10" style="background-color: #202124;">

          <div class="nav-right-items grid-x">
            <li><a href = "{{url_for('Calendar')}}" style="color: white">Calendar</a></li>
            <li><a href = "{{url_for('Calendar')}}" style="color: white">Community</a></li>
            <li>
              <div style="position: relative; display: inline-block;">
                <input type="checkbox" id="dropdown-toggle">
                <label for="dropdown-toggle">
                  <img src="https://res.cloudinary.com/dd8qeiddj/image/upload/f_auto,q_auto/seuphedexublabnuzy3x" alt="more" class="more">
                </label>

                <div class="dropdown-menu">
                  <ul>
                    <li><a href="#">Create Recipe</a></li>
                    <li><a href="#">Saved Recipes</a></li>
                    <li><a href="#">About</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </div>

          {% if logged_in %}
            <div style="position: relative; display: inline-block;">
                <input type="checkbox" id="dropdown-toggle2">
                <label for="dropdown-toggle2">
                <img src="https://res.cloudinary.com/dd8qeiddj/image/upload/f_auto,q_auto/jor4nu520m4k7xf9z1v1" alt="pfp" class="pfp">
                </label>

                <div class="dropdown-menu2">
                <ul>
                    <img src="https://res.cloudinary.com/dd8qeiddj/image/upload/f_auto,q_auto/jor4nu520m4k7xf9z1v1" alt="pfpInside" class="pfpInside">
                    <h3>Hello {{ username }}</h3>
                    <a class="button" href="{{url_for('settings')}}">Manage Account</a>
                    <hr>
                    <a class="button alert" href="{{url_for('logout')}}">Logout</a>
                </ul>
                </div>
            </div>
        {% endif %}

        {% if not logged_in %}
            <div class="sign_in_btn">
            <a class="button primary" href="{{url_for('login')}}" style="border-radius: 20px;">Sign In</a>
            </div>
        {% endif %}
        </ul>
      </div>
    </div>
</nav>
  {{errorMSG}}
  <div style = "color: white">
    {% for i in data %}
    {% if i['name'] == name %}
    {{name}}
    <br>
    <img class="thumbnail" src= "{{ holidayGif }}" alt="GIF unable to Load">
    <br>
    {{i['date']}}
    <br>
    {{i['description']}}
    <br>
    {{i['type']}}
    {% endif %}
    {% endfor %}
    <br>
    <form action="{{ url_for('holidayRedirect') }}" method="get" target="_blank" style="display:inline;" style = "color:white">
        <input type="hidden" name="query" value="{{ name }} holiday food recipes" style = "color:white">
        <button type="submit" style = "color:white">Click Here To View</button>
    </form>
</div>
</body>
</html>
