<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Calendar</h1>
	<nav>
		<a href = "{{url_for('dashboard')}}">Dashboard</a>
		<a href = "{{url_for('calendar')}}">Calendar</a>
    {% if logged_in %}
      <a href = "{{url_for('settings')}}">Settings</a>
      <a href = "{{url_for('create')}}">Create New Recipe</a>
    {% endif %}
	</nav>
  <p>{{ errorMSG }}</p>
  <div class = "calendar">
    <table>
      <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tues</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
    </table>
  </div>
  <ul>
    {% for holiday in holidays %}
      <li>
        <h3>Name: {{holiday["name"]}}</h3>
        <p>Date: {{holiday["date"]}}</p>
        <p>Description: {{holiday["description"]}}</p>
        <p>Type: {{holiday["type"]}}</p>
        <form action="{{ url_for('holidayRedirect') }}" method="get" target="_blank" style="display:inline;">
          <input type="hidden" name="query" value="{{ holiday['name'] }} holiday food recipes">
          <button type="submit">View</button>
        </form>
      </li>
    {% endfor %}
  </ul>
    <p>Work in Progress
		<a href = "{{url_for('dashboard')}}"> Go Back to Dashboard </a>
	  </p>
</body>
</html>
