<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Calendar</h1>
	<nav>
		<a href = "{{url_for('dashboard')}}">Dashboard</a>
		<a href = "{{url_for('calendar')}}">Calendar</a>
    {% if logged_in %}
      <a href = "{{url_for('settings')}}">Settings</a>
      <a href = "{{url_for('create')}}">Create New Recipe</a>
    {% endif %}
	</nav>
  <p>{{ errorMSG }}</p>
  <!--
  <ul>
    {% for holiday in holidays %}
      <li>
        <h3>Name: {{holiday["name"]}}</h3>
        <p>Date: {{holiday["date"]}}</p>
        <p>Description: {{holiday["description"]}}</p>
        <p>Type: {{holiday["type"]}}</p>
        <form action="{{ url_for('holidayRedirect') }}" method="get" target="_blank" style="display:inline;">
          <input type="hidden" name="query" value="{{ holiday['name'] }} holiday food recipes">
          <button type="submit">View</button>
        </form>
      </li>
    {% endfor %}
  </ul>
-->
  {% for month in holidays %}
  <table>
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    {% for week in holidays[month] %}
    <tr>
      {% for day in holidays[month][week] %}
      <th>
        {% if day <= 0 %}
        <p>filler</p>
        {% endif %}
        {% if day > 0 %}
        <p>{{day}}</p>
        {% endif %}
        <p>{{holidays[month][week][day]}}</p>
        <form action="{{ url_for('holidayRedirect') }}" method="get" target="_blank" style="display:inline;">
          <input type="hidden" name="query" value="{{ day['name'] }} holiday food recipes">
          <button type="submit">View</button>
        </form>
      </th>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <br>
  <br>
  <br>
  <br>
  {% endfor %}
    <p>Work in Progress
		<a href = "{{url_for('dashboard')}}"> Go Back to Dashboard </a>
	  </p>
</body>
</html>
