<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/calendar.css')}}"/>
    <title>Calendar</title>
</head>
<body>
  <nav class="navbar">
      <div class="top-bar">
        <div class="top-bar-left">
          <a href="{{url_for('dashboard')}}">
            <img src="https://res.cloudinary.com/dd8qeiddj/image/upload/f_auto,q_auto/y9vv9llgqhhmhp21yl7m" alt="logo" class="logo">
          </a>
        </div>
  
        <div class="top-bar-right">
          <ul class="menu align-right margin-top-10" style="background-color: #202124;">
        
            <div class="nav-right-items grid-x">
              <li><a href = "{{url_for('Calendar')}}" style="color: white">Calendar</a></li>
              <li><a href = "{{url_for('Calendar')}}" style="color: white">Community</a></li>
              <li>
                <div style="position: relative; display: inline-block;">
                  <input type="checkbox" id="dropdown-toggle">
                  <label for="dropdown-toggle">
                    <img src="https://res.cloudinary.com/dd8qeiddj/image/upload/f_auto,q_auto/seuphedexublabnuzy3x" alt="more" class="more">
                  </label>
      
                  <div class="dropdown-menu">
                    <ul>
                      <li><a href="#">Create Recipe</a></li>
                      <li><a href="#">Saved Recipes</a></li>
                      <li><a href="#">About</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </div>
      
            {% if logged_in %}
            <div style="position: relative; display: inline-block;">
              <input type="checkbox" id="dropdown-toggle2">
              <label for="dropdown-toggle2">
                <img src="https://res.cloudinary.com/dd8qeiddj/image/upload/f_auto,q_auto/jor4nu520m4k7xf9z1v1" alt="pfp" class="pfp">
              </label>
      
              <div class="dropdown-menu2">
                <ul>
                  <img src="https://res.cloudinary.com/dd8qeiddj/image/upload/f_auto,q_auto/jor4nu520m4k7xf9z1v1" alt="pfpInside" class="pfpInside">
                  <h3>Hello {{ username }}</h3>
                  <a class="button" href="{{url_for('settings')}}">Manage Account</a>
                  <hr> 
                  <a class="button alert" href="{{url_for('logout')}}">Logout</a>
                </ul>
              </div>
            </div>
            {% endif %}

            {% if not logged_in %}
            <div class="sign_in_btn">
            <a class="button primary" href="{{url_for('login')}}" style="border-radius: 20px;">Sign In</a>
            </div>
            {% endif %}
          </ul>
        </div>
      </div>
  </nav>
  <p>{{ errorMSG }}</p>
  <hr class="top">
  <div class="grid-container">
    <form method="POST" action="/calendar" class="callout">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-6">
          <label for="month" style="color: white;">Month</label>
          <select name="month" id="month" class="custom-select">
            <option value="00">--Select A Month--</option>
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        
        <div class="cell small-12 medium-6">
          <label for="year" style="color: white;">Year</label>
          <select name="year" id="year" class="custom-select">
            <option value="00">--Select A Year--</option>
            {% for i in range (0, 10) %}
            <option value="{{2020+i}}">{{2020+i}}</option>
            {% endfor %}
          </select>
        </div>
  
        
      </div>

      <div class="grid-x grid-padding-x">
        <div class="cell small-12 text-center">
          <button type="submit" class="button primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <hr class="bottom">
  <!--
  <ul>
    {% for holiday in holidays %}
      <li>
        <h3>Name: {{holiday["name"]}}</h3>
        <p>Date: {{holiday["date"]}}</p>
        <p>Description: {{holiday["description"]}}</p>
        <p>Type: {{holiday["type"]}}</p>
        <form action="{{ url_for('holidayRedirect') }}" method="get" target="_blank" style="display:inline;">
          <input type="hidden" name="query" value="{{ holiday['name'] }} holiday food recipes">
          <button type="submit">View</button>
        </form>
      </li>
    {% endfor %}
  </ul>
-->
  {% if month == 1 %}
  <h1 style = "text-align: center; color: white;">
    January {{year}}
  </h1>
  {% endif %}
  {% if month == 2 %}
  <h1 style = "text-align: center; color: white;">
    February {{year}}
  </h1>
  {% endif %}
  {% if month == 3 %}
  <h1 style = "text-align: center; color: white;">
    March {{year}}
  </h1>
  {% endif %}
  {% if month == 4 %}
  <h1 style = "text-align: center; color: white;">
    April {{year}}
  </h1>
  {% endif %}
  {% if month == 5 %}
  <h1 style = "text-align: center; color: white;">
    May {{year}}
  </h1>
  {% endif %}
  {% if month == 6 %}
  <h1 style = "text-align: center; color: white;">
    June {{year}}
  </h1>
  {% endif %}
  {% if month == 7 %}
  <h1 style = "text-align: center; color: white;">
    July {{year}}
  </h1>
  {% endif %}
  {% if month == 8 %}
  <h1 style = "text-align: center; color: white;">
    August {{year}}
  </h1>
  {% endif %}
  {% if month == 9 %}
  <h1 style = "text-align: center; color: white;">
    September {{year}}
  </h1>
  {% endif %}
  {% if month == 10 %}
  <h1 style = "text-align: center; color: white;">
    October {{year}}
  </h1>
  {% endif %}
  {% if month == 11 %}
  <h1 style = "text-align: center; color: white;">
    November {{year}}
  </h1>
  {% endif %}
  {% if month == 12 %}
  <h1 style = "text-align: center; color: white;">
    December {{year}}
  </h1>
  {% endif %}
  <table>
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    {% for week in calen %}
    <tr>
      {% for day in week %}
      <td>
        {% if day[0] > 0 %}
          <p>{{day[0]}}<p>
          {% for i in range(1, day|length) %}
            <a href= "{{ url_for('calDataName', name = day[i]['name'])}}"> <p><b>{{day[i]['name']}}</b></p> </a>
          {% endfor %}
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
    </table>
</body>
</html>
