<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
	<h1> Welcome to Hydrochef! </h1>
	<nav>
		<a href = "{{url_for('dashboard')}}">Dashboard</a>
		<a href = "{{url_for('calender')}}">Calendar</a>
		{% if logged_in %}
    	<a href = "{{url_for('settings')}}">Settings</a>
			<a href = "{{url_for('create')}}">Create New Recipe</a>
		{% endif %}
	</nav>
  <form method="POST">
    <input type="text" name="query" placeholder="Search recipes..." required>
    <button type="submit">Search</button>
  </form>

  {% if not logged_in %}
    <a href = "{{url_for('login')}}"> Login Here! </a>
  	<a href = "{{url_for('register')}}">Register Here!</a>
  {% endif %}
  {% if logged_in %}
    <form action = "/logout" method = POST>
      <input type="submit" name="sub1" value=submit>
    </form>
    <button>
    	<a href="/logout"> Log Out </a>
    </button>
    {% endif %}
    {% if logged_in %}
    <p> Welcome {{username}}</p>
    <img src = "https://assets.bigcartel.com/product_images/371150143/Catburger+Bigcartel.jpg?auto=format&fit=max&w=900" alt="defaultpfp">
    {% endif %}
  <p>{{ errorMSG }}</p>
  <img src= "{{ gif }}" alt="{{ gifTitle }}">
</body>
</html>
