<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dashboard.css')}}"/>
    <title>Dashboard</title>
</head>
<body>
  <nav class="navbar">
    <ul class="menu align-right margin-top-10">
      
      <div class="nav-right-items grid-x">
        <li><a href = "{{url_for('calender')}}" style="color: white">Calendar</a></li>
        <li><a href = "{{url_for('calender')}}" style="color: white">Community</a></li>
        <li>
          <div style="position: relative; display: inline-block;">
            <input type="checkbox" id="dropdown-toggle">
            <label for="dropdown-toggle">
              <img src="https://res.cloudinary.com/dd8qeiddj/image/upload/f_auto,q_auto/seuphedexublabnuzy3x" alt="more" class="more">
            </label>

            <div class="dropdown-menu">
              <ul>
                <li><a href="#">My Profile</a></li>
                <li><a href="#">Create Recipe</a></li>
                <li><a href="#">Saved Recipes</a></li>
              </ul>
            </div>
          </div>
        </li>
      </div>
      
      {% if not logged_in %}
        <div class="sign_in_btn">
          <a class="button primary" href="{{url_for('login')}}" style="border-radius: 20px;">Sign In</a>
        </div>
      {% endif %}

      {% if logged_in %}
          <li><a href = "{{url_for('settings')}}">Settings</a></li>
			    <li><a href = "{{url_for('create')}}">Create New Recipe</a></li>
		  {% endif %}
    </ul>
	</nav>

  <div class="text-center">
    <a href="{{url_for('dashboard')}}">
      <img src="https://res.cloudinary.com/dd8qeiddj/image/upload/f_auto,q_auto/y9vv9llgqhhmhp21yl7m" alt="logo" class="logo">
    </a>
  </div>

  <div class="search-container">
    <form method="POST">
      <div class="grid-x grid-padding-x align-center">
        <div class="cell medium-4">
          <input class="input-group-field" type="text" name="query" placeholder="Search recipes..." autocomplete="off" style="border-radius: 20px; height: 50px;" required>
        </div>
      </div>
    </form>
  </div>

  

  

  {% if logged_in %}
    <form action = "/logout" method = POST>
      <input type="submit" name="sub1" value=submit>
    </form>
    <button>
    	<a href="/logout"> Log Out </a>
    </button>
    <p> Welcome {{username}}</p>
    <img src = "https://assets.bigcartel.com/product_images/371150143/Catburger+Bigcartel.jpg?auto=format&fit=max&w=900" alt="defaultpfp">
  {% endif %}
</body>
</html>
