<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
	<h1> Welcome to Hydrochef! </h1>
	<nav>
		<a href = "{{url_for('dashboard')}}">Dashboard</a>
		<a href = "{{url_for('calender')}}">Calendar</a>
		{% if logged_in %}
    	<a href = "{{url_for('settings')}}">Settings</a>
			<a href = "{{url_for('create')}}">Create New Recipe</a>
		{% endif %}
	</nav>
  {% if not logged_in %}
    <a href = "{{url_for('login')}}"> Login Here! </a>
  	<a href = "{{url_for('register')}}">Register Here!</a>
  {% endif %}
</body>
</html>
