<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Recipe</title>
</head>
<body>
	<h1> Edit a Recipe </h1>
    <form action = "/edit" method = "POST">
      <input type="text" name="name" placeholder = "Enter Recipe Name Here">
      <br><br>
      <textarea rows = "10" cols = "100" name="ingredients" placeholder="Ingredients Needed"></textarea>
      <br><br>
	  <textarea rows = "10" cols = "100" name="steps" placeholder="Steps Needed"></textarea>
	  <br><br>
	  <input type = "file" id= "recipeImage" name = "filename"><br><br>
      <input type="submit" name="sub1" value=submit>
    </form>
	<a href = "{{url_for('dashboard')}}"> Go Back to Dashboard </a>
</body>
</html>